<section class = "theme2020-section js_scroll_reveal">
    <div class="grid">
        <div class="theme2020-row">
            <div class="frow justify-between">
                <div class="intro-block">
                    <div class="theme2020-content">
                        <div class="subject-title"><span class="plus">+</span> Who We Are</div>
                        <div class="theme2020-copy">We're a team of artists, developers and strategists.  We design + manage retail, wellness and lifestyle brands.  That means we're apart of your team and our goal is to help you win.</div>
                    </div>
                    <div class="theme2020-content">
                        <div class="subject-title"><span class="plus">+</span> What We Do</div>
                        <div class="theme2020-small">{{ page.intro-title }}</div>
                        <div class="theme2020-copy">{{ page.intro-description }}</div>
                        <a href="/contact/" class="theme2020-btns" alt="Contact SVNCRWNS"><div>Let's Talk</div></a>
                    </div>
                </div>
                
                <div class="theme2020-offers">
                    <div class="theme2020-small">Our Capabilities</div>
                    <ul class="theme2020-list">
                        {% for item in site.data.capabilities %}
                        <li>{{ item.cap }}</li>
                        {% endfor %}
                    </ul>
                    <a href="/contact/" class="theme2020-btns" alt="View SVNCRWNS services"><div>View Services</div></a>
                </div>
            </div>
        </div>

        <div class="theme2020-row end">
            <div class="frow justify-between">
                <div class="theme2020-ownership">
                    <!-- remove founders - components/block-founders.html -->

                    <!-- removed Brands + Initiatives until we update the Black Love Offering page - components/block-brands.html -->
                    
                </div>
    
                <div class="theme2020-industries">
                    <div class="theme2020-small">Industries</div>
                    <ul class="theme2020-list">
                        {% for item in site.data.industries %}
                        <li>{{ item.industry }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div><!-- #.frow justify-start -->
        </div><!-- #.theme2020-row -->
    </div>
</section>