<div class="theme2020-slider">
    {% for item in site.data.theme2020-slider %}
    <div class="slide" style="background-image:url('{{ item.slide }}');"></div>
    {% endfor %}
</div>

<div class="theme2020-intro">
    <div class="frow centered-column">
        <div class="theme2020-title">SVNCRWNS</div>
        <div class="theme2020-locations">
            <ul>
                <div class="frow justify-between">
                    <li>Baltimore</li>
                    <li>New York</li>
                    <li>Atlanta</li>
                    <li>Los Angeles</li>
                </div>
                
            </ul>
        </div>
    </div>
    
</div>