<div class="grid">
    <section class="theme2020-contact">
        <div class="theme2020-row">
            <div class="frow justify-start">
                <div class="inquiries">
                    <div class="theme2020-small">
                        inquiries
                    </div>
                    <div class="inquiries-arrow">
                        <img src="/dist/images/inquiries-arrow.png" />
                    </div>
                </div>
    
                <div class="inquiries-info">
                    <div class="theme2020-copy">
                        For business inquiries – we're ready to learn about what you're working on.  View <a href="{{ site.capabilities-doc }}" class="t20-link" alt="View SVNCRWNS services" target="_blank">our company offerings</a> and let’s schedule some time to talk about how we may help your team.
                    </div>
                    <a href="{{ site.scheduling-link }}" class="theme2020-btns" target="_blank" alt="Schedule a Session with SVNCRWNS"><div>Schedule a Session</div></a>
                </div>
            </div>
        </div>
        <div class="theme2020-row end">
            <div class="frow justify-start">
                <div class="inquiries">
                    <div class="theme2020-small">
                        social
                    </div>
                    <div class="inquiries-arrow">
                        <img src="/dist/images/inquiries-arrow.png" />
                    </div>
                </div>
    
                <div class="inquiries-info">
                    <div class="theme2020-copy">
                        Follow us online.
                    </div>
                    <div class="social-wrapper">
                        <ul class="theme2020-list">
                            <li><a href="{{ site.facebook }}" target="_blank">Facebook</a></li>
                            <li><a href="{{ site.instagram }}" target="_blank">Instagram</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>
<section class="instagram">
    <div class="frow justify-between">
        {% for item in page.instagram_grid %}
        <div class="ig-single"><img src="{{ item.img }}" /></div>
        {% endfor %}
    </div>
</section>