<!-- removed components/block-theme2020-slider -->
<div class="theme2020-hero-video" style="background-image:url('/dist/images/hero-video-2020-fallback.png');">
    <video id="video-bg" src="/dist/images/hero-video-2020.mp4" loop muted autoplay poster="/dist/images/hero-video-2020-fallback.png"></video>
</div>



<div class="theme2020-intro">
    <div class="frow centered-column">
        <div class="theme2020-title">SVNCRWNS</div>
        <div class="theme2020-locations">
            <ul>
                <div class="frow justify-between">
                    <li>Baltimore</li>
                    <li>New York</li>
                    <li>Atlanta</li>
                    <li>Los Angeles</li>
                </div>
                
            </ul>
        </div>
    </div>
    
</div>