<section class = "theme2020-section js_scroll_reveal">
    <div class="grid">
        <div class="theme2020-row">
            <div class="frow justify-between">
                <div class="intro-block">
                    <div class="theme2020-content">
                        <div class="subject-title"><span class="plus">+</span> {{ page.wwa-title }}</div>
                        <div class="theme2020-copy">{{ page.wwa-description }}</div>
                    </div>
                    <div class="theme2020-content">
                        <div class="subject-title"><span class="plus">+</span> {{ page.wwd-title }}</div>
                        <div class="theme2020-small">{{ page.wwd-subtitle }}</div>
                        <div class="theme2020-copy">{{ page.wwd-description }}</div>
                        <a href="/contact/" class="theme2020-btns" alt="Contact SVNCRWNS"><div>Work With Us</div></a>
                    </div>
                </div>
                
                <div class="theme2020-offers">
                    <div class="theme2020-small">Our Capabilities</div>
                    <ul class="theme2020-list">
                        {% for item in page.capabilities %}
                        <li>{{ item.cap }}</li>
                        {% endfor %}
                    </ul>
                    <a href="{{ site.capabilities-doc }}" class="theme2020-btns" alt="View SVNCRWNS services" target="_blank"><div>View Services</div></a>
                </div>
            </div>
        </div>

        <div class="theme2020-row end">
            <div class="frow justify-between">
                <div class="theme2020-ownership">
                    <!-- remove founders - components/block-founders.html -->

                    <!-- removed Brands + Initiatives until we update the Black Love Offering page - components/block-brands.html -->
                    
                </div>
    
                <!-- removed Industries - components/block-industries.html -->
            </div><!-- #.frow justify-start -->
        </div><!-- #.theme2020-row -->
    </div>
</section>