<section class="newsletter js_scroll_reveal" style="background-image:url('/dist/images/theme2020-newsletter-bg.png');">
    <div class="grid">
        <div class="frow column-start">
            {% for item in site.data.site_settings.newsletter %}
            <div class="newsletter-intro">
                <div class="theme2020-small">{{ item.newsletter-title }}</div>
                <div class="theme2020-copy white">{{ item.newsletter-desc }}</div>
                <a href="{{ item.newsletter-url }}" class="theme2020-btns white"><div>{{ item.newsletter-link-title }}</div></a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>